<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW ADD LIST</title>
</head>
<body> 
    <h2>ADD NEW LIST </h2>       
    <form method="post" action="/to-do-lists"> 
       
     <textarea type="text" placeholder="Enter New Task or LIst" rows="10" cols="40" name="content"></textarea>
    <button type="submit">submit</button>
    </form>

    
</body>
</html>